.idea
__pychache__/
__pycache__/classesKBP.cpython-312.pyc
__pycache__/testes.cpython-312-pytest-8.3.3.pyc
__pycache__/testes.cpython-312.pyc
__pycache__/classesKBP.cpython-312.pyc
Distribuicao/index.html
